* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

table button {
  width: 150px;
}
